.searchbar_container {
  display: flex;
  margin-bottom: 20px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.searchbar {
  height: 20px;
  padding: 8px;
  border: none;
  border-radius: 16px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.select {
  width: 10%;
  margin-right: 4px;
  background-color: #5b9ad5;
  color: white;
  border: none;
  height: 38px;
}

.icon_rtl {
  padding-left: 40px;
  background: url('../../../public/search.svg') no-repeat 1%;
  background-size: 20px;
}

.search_results_container {
  flex-grow: 5;
  display: flex;
  flex-direction: column;
}
