.user_details_container {
  position: absolute;
  top: 100px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  border-radius: 16px;
  font-style: italic;
}

.user_details_section {
  padding: 16px;
  row-gap: 25px;
  column-gap: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 575px) {
  .user_details_container {
    display: flex;
  }
}

.back_button {
  position: absolute;
  top: 54px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  cursor: pointer;
}
